<section class="course cmn-padd">
  <div class="container">
      <div class="heading">
          <h3> <span>DISCOVER YOUR</span> PASSSION </h3>
      </div>
      <mat-tab-group>
        <mat-tab label="Design">
          <div class="row">
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course1.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$79</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course2.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$99</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course3.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$39</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course4.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$49</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course3.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$29</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course6.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$109</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course7.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$149</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course1.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$79</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>

          <div class="cmn-btn">
            <button type="button">View all courses</button>
          </div>

          </div>

        </mat-tab>
        <mat-tab label="Art">
          <div class="row">
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course1.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$79</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course2.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$99</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course3.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$39</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course4.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$49</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course3.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$29</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course6.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$109</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course7.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$149</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course1.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$79</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>

            <div class="cmn-btn">
              <button type="button">View all courses</button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Photography">
          <div class="row">
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course1.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$79</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course2.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$99</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course3.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$39</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course4.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$49</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course3.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$29</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course6.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$109</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course7.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$149</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-3">
              <mat-card class="course-card">
                <img mat-card-image src="../../assets/img/course1.png" alt="course">
                <mat-card-content>
                  <div class="price">
                    <h6>$79</h6>
                  </div>
                   <h5>Lorem ipsum dolor sit ame consectetur</h5>
                   <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>5.0 (rating)</span>
                   </div>
                  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                  <ul class="type">
                    <li><span><i class="fas fa-book">&nbsp;</i></span>Lessons</li>
                    <li><span><i class="fas fa-user">&nbsp;</i></span>Students</li>
                  </ul>
                </mat-card-content>
              </mat-card>
            </div>

            <div class="cmn-btn">
              <button type="button">View all courses</button>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
  </div>
</section>
