<div class="row h-100 no-margin">
  <div class="col purple left">
      <div class="row sign-section">
          <div class="col my-auto">
              <h5 style="font-size: 3rem" class=" mt-0 mb-0 text-light text-center mb-0 align-middle">
                <img src="../../../assets/img/angular.png"> Logo
                  </h5>
          </div>
      </div>
  </div>

  <div class="col-md right">
      <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="card shadow border-0 mx-auto">

                  <div class="loader h-100">

                      <div class="row">
                          <div class="card-body p-5">
                            <div class="logo">
                              <img src="../../../assets/img/angular2-logo.png" class="img-fluid 800" />
                            </div>
                              <h5 class="text-grey text-center mt-0 font-weight-bold">Sign Up</h5>
                              <p class="text-center text-muted">Fill the following details.</p>
                                              <div class="row mb-3 text-center">
                              <img src="../../../assets/img/login.png" class="mx-auto text-center" height="80"/>
                          </div>
                              <!-- <form id="signIn"> -->
                                  <div class="form-group p-1">
                                      <label for="username text-muted">
                                          <h6 class="text-grey"><i class="fa fa-user"></i> Email</h6>
                                      </label>
                                      <input name="username" placeholder="Enter your Email ID" required="true" id="username" type="text" class="form-control">
                                      <div class="invalid-feedback">Please enter your Email ID</div>

                                  </div>

                                  <div class="row">
                                      <button   id="submit" class="btn btn-primary mx-auto">
                                          <span class="btn-text">Submit</span>
                                      </button>
                                  </div>
                                  <p class="register"> Welcome to abc pvt ltd.<a (click)="gosignin()" > Go Back</a></p>
                              <!-- </form> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
