<header>
  <div class="container">
    <aside class="logo">
      <div class="main-logo">
        <img src="../../assets/img/logo.png">
      </div>
    </aside>


    <aside class="nav-container">
      <div class="nav">
        <div class="navbox">
          <ul>
            <li>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search ">
                <div class="input-group-append">
                  <button class="btn" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>

            </li>
            <li>
              <a href="#" title="Services">BROWSE COURSES <i class="fas fa-angle-down"></i></a>
              <ul>
                <li>
                  <a href="#" title="Category #1">Category #1 <i class="fas fa-angle-right"></i></a>
                  <ul>
                    <li><a href="#" title="Product Name #1">Product Name #1</a></li>
                    <li><a href="#" title="Product Name #2">Product Name #2</a></li>
                    <li><a href="#" title="Product Name #3">Product Name #3</a></li>
                    <li><a href="#" title="Product Name #4">Product Name #4</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#" title="Category #2">Category #2 <i class="fas fa-angle-right"></i></a>
                  <ul>
                    <li><a href="#" title="Product Name #1">Product Name #1</a></li>
                    <li><a href="#" title="Product Name #2">Product Name #2</a></li>
                    <li><a href="#" title="Product Name #3">Product Name #3</a></li>
                    <li><a href="#" title="Product Name #4">Product Name #4</a></li>
                    <li><a href="#" title="Product Name #5">Product Name #5</a></li>
                    <li><a href="#" title="Product Name #6">Product Name #6</a></li>
                    <li><a href="#" title="Product Name #7">Product Name #7</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#" title="Category #3">Category #3 <i class="fas fa-angle-right"></i></a>
                  <ul>
                    <li><a href="#" title="Product Name #1">Product Name #1</a></li>
                    <li><a href="#" title="Product Name #2">Product Name #2</a></li>
                    <li><a href="#" title="Product Name #3">Product Name #3</a></li>
                    <li><a href="#" title="Product Name #4">Product Name #4</a></li>
                    <li><a href="#" title="Product Name #5">Product Name #5</a></li>
                  </ul>
                </li>
              </ul>
            </li> 
            <li><a href="#" title="portfolio">Portfolio</a></li>
            <li><a href="#" title="portfolio">TEACH ON Eduru</a></li>
            <li><a href="#" title="portfolio" (click)="openAboutUS()">ABOUT US</a></li>
        

            <li><a href="#" title="" class="sign-in">Sign in</a></li>
          </ul>
          <button class="action close" title="Close Menu">
            <i class="fas fa-times"></i>
            <span></span>
          </button>
        </div>
        <button class="action toggle" title="Open Menu">
          <i class="fas fa-bars"></i>
          <span></span>
        </button>
      </div>
    </aside>
  </div>


  </header>
