


<section class="banner">
  <img src="../../assets/img/banner.png" alt="" class="img-fluid"/>
  <div class="container">
    <div class="typing-slider">
      <h2>
        Learn how to do Marketing
      </h2>
    <!-- <h2>This pen is Hacking/ Designing

/Accounting
      <span
         class="txt-rotate"
         [typingCarousel]=carousel ></span> -->
    <!-- </h2> -->
    <p>From the experts and according to your schedule</p>
    <div class="input-group  banner-btn">
      <input type="text" class="form-control" placeholder="Search">
      <div class="input-group-append">
        <button class="btn" type="button">
          <i class="fa fa-search"></i>
          
        </button>
      </div>
    </div>
  </div>
</div>
</section>

