.testimonial{
    background-image: url(../../assets/img/testi-bg.png);
    background-size: cover;
    .heading{
        text-align: left;
        h3{
        color: #fff;
            span{
                 color: #fff;
            }
        }
    }
    .testimonial-box{
        padding: 20px 0 40px 0;
        position: relative;
    .testimonial-text {
        text-align: right;
        color: #fff;
        position: absolute;
        right: 0;
        top: 10%;
        width: 125%;
        p{
            font-size: 20px;
            margin-bottom: 30px;
            font-weight: 300;
        }
        h5{            
            color: #fff;
            font-weight: 400;
        }
    }
}
}