<section class="card cmn-padd">
  <div class="container">
      <div class="heading">
          <p>Education for everyone </p>
          <h3>Online <span> Coaching Lessons For</span> Remote Learning</h3>
      </div>

      <div class="detail-card">
        <div class="row">
          <div class="col-md-3">
            <mat-card class="card-detail">
              <img src="../../assets/img/card-icon1.png" alt="EXPERT INSTRUCTION" class="icon-card"/>
              <mat-card-content>
                <h5>EXPERT INSTRUCTION</h5>
                <p>
                  Find the right tutor for you
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-3">
            <mat-card class="card-detail">
              <img src="../../assets/img/card-icon2.png" alt="Self Development" class="icon-card"/>
              <mat-card-content>
                <h5>LIFETIME ACCESS</h5>
                <p>
                  Learn on your schedule
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-3">
            <mat-card class="card-detail">
              <img src="../../assets/img/card-icon3.png" alt="Ask Consultancy" class="icon-card"/>
              <mat-card-content>
                <h5>SHOWCASE YOUR WORK</h5>
                <p>
                  Build your portfolio
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-3">
            <mat-card class="card-detail">
              <img src="../../assets/img/card-icon3.png" alt="Remote Learning" class="icon-card"/>
              <mat-card-content>
                <h5>GET CAREER GUIDANCE</h5>
                <p>
                  Through mentorship & workshops
                </p>
              </mat-card-content>
            </mat-card>
          </div>


        </div>
      </div>

  </div>
</section>
