<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-5 footer-column">
            <img src="../../assets/img/logo.png" class="img-fluid footer-logo"/>
            <p>Eduru Ipsum is simply dummy text of the printing and typesetting industry. Eduru Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="col-md-2 footer-column">
          <ul class="nav flex-column">
            <li class="nav-title">
              <span class="footer-title">Explore</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 footer-column">
          <ul class="nav flex-column">
            <li class="nav-title">
              <span class="footer-title">Resources</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Student Success</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Scholarship</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">For Businesss</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Go Premium</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Team Plan</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 footer-column footer-contact">
          <ul class="nav flex-column">
            <li class="nav-title">
              <span class="footer-title">Address</span>
            </li>
            <li class="nav-item">
              <span class="nav-link"><img src="../../assets/img/address.png" class="img-fluid"/>2750 Quadra Street Golden Victoria Road, New York, USA</span>
            </li>
            <li class="nav-item">
              <span class="nav-link"><img src="../../assets/img/call.png" class="img-fluid"/>+1 (123) 456 7890</span>
            </li>
            <li class="nav-item">
              <span class="nav-link"><img src="../../assets/img/mail.png" class="img-fluid"/>Eduru@gmail.com</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
     
  </footer>

<div class="footer-bottom">
    <div class="container">
    <span class="copyright quick-links">Copyright &copy; Eduru 2020
    </span>
</div>
</div>