<section class="instructor cmn-padd backgorund-light">
    <div class="container">
        <div class="heading">
            <h3><span>OUR</span> INSTRUCTORS</h3>
        </div>
        <div class="wrapper">


            <owl-carousel-o [options]="customOptions" class="instructor-box">
                <ng-container>
                    <ng-template carouselSlide>
                        <div class="instructor-card">
                            <img src="../../assets/img/instructor-1.png" class="img-fluid"/>
                            <div class="instructor-text">
                                    <h4>Jesica Derby</h4>
                                    <h6>User Experience</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="instructor-card">
                            <img src="../../assets/img/instructor-3.png" class="img-fluid"/>
                            <div class="instructor-text">
                                    <h4>Jesica Derby</h4>
                                    <h6>User Experience</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </ng-template>  
                    <ng-template carouselSlide>
                        <div class="instructor-card">
                            <img src="../../assets/img/instructor-2.png" class="img-fluid"/>
                            <div class="instructor-text">
                                    <h4>Jesica Derby</h4>
                                    <h6>User Experience</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </ng-template> 
                    <ng-template carouselSlide>
                        <div class="instructor-card">
                            <img src="../../assets/img/instructor-2.png" class="img-fluid"/>
                            <div class="instructor-text">
                                    <h4>Jesica Derby</h4>
                                    <h6>User Experience</h6>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </ng-template> 
            </ng-container>
           
            </owl-carousel-o>  
          </div>
     
  
    </div>
  </section>
  